window#waybar {
  background: rgba(15, 15, 25, 0.85);
  border-radius: 18px;
  border: 2px solid #ff6a00;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #ffffff;
}
  #clock {
    font-size: 22px;
    font-weight: 800;
    color: #ff6a00;
    letter-spacing: 3px;
    padding: 0 20px;
  }
  
  #workspaces button {
    padding: 0 10px;
    margin: 0 4px;
    border-radius: 10px;
    background: transparent;
    color: #cccccc;
  }
  
  #workspaces button.active {
    background: #ff6a00;
    color: #000000;
  }

  #network,
  #battery,
  #pulseaudio {
    padding: 0 10px;
  }

